".env" 
"__pycache__/" 
"*.pyc" 
"*.sqlite3" 
"node_modules/" 
".venv/" 
"media/" 
"staticfiles/" 
"settings.py" 
"/ProyectoBovedaDeLibros/settings.py" 
".env" 
"local_settings.py" 
"/ProyectoBovedaDeLibros/settings.py" 
"/ProyectoBovedaDeLibros/settings.py" 
